@model IEnumerable<Rose.Entities.Flower>

@{ ViewData["Title"] = "Bouquet"; }

<header style="background-image: url('https://www.floristchan.com.au/inc/uploads/revslider/h2-slide-1.jpg') ">
    <div style="height: 9.5rem"></div>

    <div class="text-center my-5">


        <h1 class="text-black">Rose</h1>
        <h3 class="text-black">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blackColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
            </svg>Here are our Bouquets!<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blackColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
            </svg>
        </h3>

    </div>
</header>
<h1>Bouquets</h1>

@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
<p>
    <a asp-action="Create">Create New</a>
</p>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100px" />
                @*@Html.DisplayFor(modelItem => item.Picture)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>

                <a asp-action="Create" asp-controller="Order" asp-route-id="@item.Id">Order</a>
            </td>
            @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
            {
        <td>

            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
}
            @if (this.User.Identity.IsAuthenticated)
            {
            }
        </tr>
        }
            </tbody>
        </table>
