@model Rose.Models.Flower.StatisticVM

@{
    ViewData["Title"] = "Index";
}
<header style="background-image: url('https://mybayutcdn.bayut.com/mybayut/wp-content/uploads/online-flowetr-delivery-services-in-Dubai.jpg') ">
    <div style="height: 14.5rem"></div>
</header>
<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.flowerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bouqetCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
      
            <tr>
                <td>
                    @Model.flowerCount
                   
                </td>
                <td>
                    @Model.bouqetCount
                </td>
                <td>
                    @Model.userCount
                </td>
                <td>
                    @Model.orderCount
                </td>
                <td>
                    @Model.totalPrice
                </td>
            </tr>
       
    </tbody>

   
</table>
